.Container {
  width: 100%;
}

.Banner {
  background-color: #003C6F;
  margin-left: auto;
  margin-right: auto;
  width: 1190px;
  height: 50vh;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}

.Content {
 margin-top: auto;
 margin-left: 3%;
 margin-bottom: auto;
 width: 50%;
}

.Title {
  color: #F6BC3B;
  text-align: center;
  width: 30%;
}

.Title1 {
  font-size: 8px;
  margin-bottom: 0;
}

.Title2 {
  font-size: 8px;
  margin-top: 0;
}


.Description {
  color: white;
  font-size: 40px;
  margin-top: 2%;
  margin-bottom: 2%;
}

.Button {
  background-color: #F6BC3B;
  color: #003C6F;
  height: 58px;
  width: 200px;
  border-radius: 29px;
  font-size: 20px;
}