.Container {
  background-color: hsl(210, 100%, 50%);
  margin-left: auto;
  margin-right: auto;
  width: 1190px;
  height: 46vh;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  text-decoration: none;
}

.Content {
 margin-top: auto;
 margin-left: 3%;
 margin-bottom: auto;
 width: 50%;
}

.Title {
  color: #F6BC3B;
  text-align: center;
  width: 50%;
}

.Title1 {
  font-size: 2.5vh;
  margin-top: 0;
  margin-bottom: 0;
}

.Title2 {
  font-size: 2.5vh;
  margin-top: 4px;
}

.Description {
  color: white;
  font-size: 7vh;
  margin-top: 2%;
  margin-bottom: 4%;
  line-height: 1.1em;
}

.Button {
  background-color: #F6BC3B;
  color: black;
  height: 8vh;
  width: 30vh;
  border-radius: 4vh;
  font-size: 4.3vh;
  border: none;
  margin-top: 5%;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}