.Toolbar {
  height: 85px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  box-sizing: border-box;
  box-shadow: 2px 2px 1px rgb(3 12 76 / 10%);
  z-index: 90;
}

.Toolbar nav {
  height: 100%;
}